* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.clr::after {
  clear: both;
  content: "";
  display: block; }

/* header - logo and name of owner - contact information*/
/*.header{
	.div-title{
		height: 100px;
		.container{
			.div-title-left{
				float: left;
				width: 50%;

				.div-title-logo{
					max-width: 40px;
					max-height: 40px;
					width: auto;
					height: auto;
					float: left;
					padding: 10px 10px;
				}

				.div-title-name{
					padding: 25px 10px;
					display: inline-block;
					text-align: center;
				}
			}
		}
		.div-title-right{
			background: url(../images/icon-telephone.png);
			background-repeat: no-repeat;
			height: 50px;
			padding-top: 10px;
			position: absolute;
			top: 5%;
			right: 12%;

			.contact{
				padding-left: 40px;
				padding-top: 10px;
			}
			.phonenumber{
				@extend .contact;
				padding-left: 2px;
				color: $primary-color;
			}
		}
	}
}*/
/* header - menu*/
.div-menu {
  /*div cover outline menu*/
  height: 60px;
  border-top: 1px solid #b8b8b8; }
  .div-menu div ul {
    list-style-type: none;
    overflow: hidden; }
    .div-menu div ul li {
      float: left;
      border-right: 1px solid #b8b8b8; }
      .div-menu div ul li a {
        display: block;
        color: gray;
        text-align: center;
        padding: 20px 10px;
        height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px; }
      .div-menu div ul li a:hover {
        background-color: #d7d9dd; }

.bg {
  background: url("../images/bg.jpg");
  height: 160px;
  position: relative; }

main {
  padding-top: 50px;
  padding-bottom: 30px;
  /*
		.news-list{
			width: 100%;
			.item{
				width: 33.33%;
				padding: 5px 5px;
				float: left;
				list-style-type: none;
				.news{
					border: 0.5px solid rgb(235,235,235);
					position: relative;
					width: 100%;
					.news-img{
						width: 100%;
						padding-bottom: 20%;
						img{
							width: 100%;
							padding-bottom: 20%;
						}
					}
					.news-link{
						background: $primary-color;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 7%;
						height: 7%;
					}
					.news-price {
						text-decoration: none;
						padding-left: 20px;
						padding-right: 20px;
						color: #7a1e16;
						font-size: 11px;
						font-weight: bold;}
						.news-title{
							text-decoration: none;
							padding-left: 20px;
							padding-right: 20px;
							color: black;
							font-weight: bold;
						}
						.news-content{
							padding-left: 20px;
							padding-right: 20px;
							padding-top: 10px;
							padding-bottom: 30px;
						}
					}
				}
				.items:nth-child(3n+1){
					clear: left;
				}
			}
		}

		.sidebar-left{
			width: 24%;
			margin-right: 2%;
			float: left;
			.menu-sidebar{
				ul{
					list-style-type: none;
					li{
						.title-menu-sidebar{
							width: 100%;
							height: 40px;
							list-style-type: none;
							background-color: $sidebar-color;
							color: black;
							text-decoration: none;
							text-transform: uppercase;
							display: block;
							line-height: 40px;
							padding-left: 10%;
						}
						ul {
							list-style-type: disc;
							padding-left: 10%;
							padding-top: 5%;
							padding-bottom: 5%; 
							li{
								a{
									text-decoration: none;
									color: black;
								}
							}
						}
					}
				}
			*/ }
  main .col-main {
    width: 100%; }
    main .col-main .news-list {
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      main .col-main .news-list .item {
        width: 33.33%;
        padding-right: 10px;
        padding-bottom: 10px;
        display: block;
        float: left; }
        main .col-main .news-list .item .news {
          width: 100%;
          border: 1px solid #333; }
          main .col-main .news-list .item .news .news-img {
            text-align: center;
            width: 100%;
            padding-bottom: 5%; }
            main .col-main .news-list .item .news .news-img img {
              width: 100%;
              height: 100%; }

/*footer*/
footer {
  background-color: #62c6f8; }
  footer .footer-info {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px; }
    footer .footer-info div .info {
      display: inline-block;
      width: 32.33%;
      color: white; }
      footer .footer-info div .info span {
        font-weight: bold;
        line-height: 35px; }
      footer .footer-info div .info ul li {
        padding-left: 5px;
        padding-bottom: 3px; }
        footer .footer-info div .info ul li a {
          color: white;
          text-decoration: none;
          font-weight: normal; }
    footer .footer-info div.info-social li {
      list-style-type: none; }
      footer .footer-info div.info-social li a img {
        vertical-align: middle;
        padding-right: 5px; }
  footer .coppy-right {
    color: white;
    border-top: 1px solid white;
    padding-top: 15px; }
    footer .coppy-right div span {
      float: left;
      padding-bottom: 15px; }
    footer .coppy-right div p {
      float: right;
      padding-bottom: 15px; }

.col-md-10 .row .col-md-12 {
  border: 0.5px solid #ebebeb;
  padding: 30px; }
  .col-md-10 .row .col-md-12 .product_left {
    float: left; }
    .col-md-10 .row .col-md-12 .product_left img {
      width: 330;
      height: 270; }
    .col-md-10 .row .col-md-12 .product_left .bt_order {
      float: bottom;
      padding-top: 25px;
      padding-bottom: 25px; }
  .col-md-10 .row .col-md-12 .product_right {
    float: left;
    padding-left: 40px; }
    .col-md-10 .row .col-md-12 .product_right .order_quantity {
      padding-top: 25px; }

.select-user {
  width: 100%;
  height: 300px;
  border: 0.5px solid #ebebeb; }
